body {
  margin: 0;
  background-color: #141414; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6; 
}

header {
  background-color: #1b2f54; 
  padding: 20px 0; 
  text-align: center; 
  color: #fff; 
  margin-bottom: 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

h1 {
  font-size: 2.5rem; 
  margin: 0; 
  font-weight: bold; 
}

footer {
  background-color: #1b2f54; 
  color: #fff; 
  padding: 10px 0; 
  margin-top: 20px; 
  text-align: center; 
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
}

.container-foot {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.row-footer {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.footer-col {
  flex: 1; 
  margin: 0 20px; 
  min-width: 200px; 
}

.footer-col h4 {
  margin-bottom: 10px; 
}

.footer-col ul {
  list-style: none; 
  padding: 0; 
}

.footer-col ul li {
  margin: 5px 0; 
}

footer a {
  color: #f0f0f0; 
  text-decoration: none; 
}

footer a:hover {
  color: #1976d2;
}

.medias-sociais {
  margin-top: 20px; 
}

.medias-sociais a {
  color: #f0f0f0; 
  margin: 0 10px; 
  font-size: 1.5rem; 
}

button {
  border-radius: 5px; 
  padding: 10px 15px;
  font-size: 1rem; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #3f51b5; 
  color: white; 
}
#dashboard-container {
  max-width: 1200px; 
  margin: 0 auto; 
  background-color: #111237; 
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
  min-height: 300px;
}

.chart-paper {
  background-color: #1b2154 !important; 
  color: white !important;
  padding: 16px;
  border-color: #2c72b8  !important; 
}

.add-chart-button {
  background-color: #1976d2; 
}

.remove-chart-button {
  color: #ffffff;
}

.chart-select,
.filter-select {
  color: white;
  background-color: #1b2154;
}

.input-label {
  color: white;
}

.chart-select:hover,
.filter-select:hover {
  background-color: #1976d2; 
}
.chart-container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  gap: 20px; 
}

.chart {
  flex: 1; 
  min-width: 300px; 
}
.MuiButtonBase-root {
  margin-top: 20px; 
  display: block; 
}

.chart-select .MuiOutlinedInput-notchedOutline,
.filter-select .MuiOutlinedInput-notchedOutline {
  border-color: #2c72b8; 
}

.chart-select:hover .MuiOutlinedInput-notchedOutline,
.filter-select:hover .MuiOutlinedInput-notchedOutline,
.chart-select.Mui-focused .MuiOutlinedInput-notchedOutline,
.filter-select.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2c72b8 !important; 
  color: white !important;
}

/* Garante que os estilos dos botões sejam aplicados */
.css-1x6kmiy-MuiButtonBase-root-MuiButton-root {
  background-color: #1976d2 !important; 
  color: white !important; 
}

/* Garante que os estilos dos selects sejam aplicados */
.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background-color: #1b2f54 !important; 
  color: white !important; 
  border-color: #1976d2; 
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important; 
}
