<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minhastarefas.css') }}">
    <script src="{{ url_for('static', filename='js/minhastarefas.js') }}"></script>
</head>

<body>
    <div class="container">
        <h2>Listagem de Tarefas</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            {% if 'tarefa_editada' in category %}
            <li class="{{ category }}">{{ message }}</li>
            {% endif %}
            {% if 'tarefa_excluida' in category %}
            <li class="{{ category }}">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="tasks">
            {% for tarefa in tarefas %}
            <div class="task">
                <div class="task-info">
                    <h3 class="task-name">{{ tarefa[1] }}</h3>
                    <p class="task-priority">Prioridade: {{ tarefa[3] }}</p>
                    <p class="task-date">Criado em: {{ tarefa[4] }}</p>
                </div>
                <div class="task-actions">
                    <button class="btn-descricao" onclick="toggleDescription('{{ tarefa[0] }}')">Ver Descrição</button>
                    <button class="btn-editar" onclick="editarTarefa('{{ tarefa[0] }}')">Editar</button>
                    <form method="POST" action="{{ url_for('excluir_tarefa', tarefa_id=tarefa[0]) }}">
                        <button type="submit" class="btn-excluir">Excluir</button>
                    </form>
                </div>
                <p id="descricao-{{ tarefa[0] }}" class="task-descricao" style="display: none;">{{ tarefa[2] }}</p>
            </div>
            {% endfor %}
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('novatarefa') }}">Adicionar Nova Tarefa</a></li>
                <li><a href="{{ url_for('usuarioentrou') }}">Voltar</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>
