<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Tarefa</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/novatarefa.js') }}"
      defer
    ></script>
  </head>

  <body>
    <div class="card">
      <h2 class="title">Nova Tarefa</h2>
      
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          <ul class="flashes">
              {% for category, message in messages %}
                  {% if 'tarefa_error' in category %}
                      <li class="{{ category }}">{{ message }}</li>
                  {% endif %}
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
      

      <form method="POST" action="{{ url_for('novatarefa') }}">
        
        <div id="mensagem-erro" class="mensagem-erro">
          Selecione uma prioridade para prosseguir.
        </div>
        
        <input
          class="input"
          type="text"
          id="nome"
          name="nome"
          placeholder="Nome da Tarefa"
          required
        />

        <input
          class="input"
          type="text"
          id="descricao"
          name="descricao"
          placeholder="Descrição da Tarefa"
          required
        />

        <div class="prioridade">
            <p>Prioridade da Tarefa</p>
          <div class="radio-buttons">
            <input type="radio" id="alta" name="prioridade" value="alta" required />
            <label for="alta">Alta</label>

            <input type="radio" id="media" name="prioridade" value="media" required />
            <label for="media">Média</label>

            <input type="radio" id="baixa" name="prioridade" value="baixa" required />
            <label for="baixa">Baixa</label>
          </div>
        </div>
        <button type="submit" class="button_function">Salvar Tarefa</button>
       
        <nav class="navigation">
          <ul class="list">
            <li class="list__element"><a class="button" href="{{ url_for('usuarioentrou') }}">Voltar</a></li>
          </ul>
        </nav>
      
    </form>
    </div>
  </body>
</html>
