/* NÃO RECEBEU MANUTENÇÃO! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 1s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #E02513, #DB4839);
    overflow: scroll;
}

.container {
    align-self: center;
    background-color: #e9c7c7;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.container h2 {
    margin-bottom: 20px;
    color: #E02512;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: #000000;
}


.excluir-btn {
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    background-color: #800000;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.excluir-btn:hover {
    background-color: #ff0000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #800000;
    padding: 15px;
    border-radius: 8px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #ff0000;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.excluirusuario_error {
    background-color: #ffcccc;
    color: #ff0000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 8%;
        max-width: 95%;
    }

    .container h2 {
        font-size: 20px;
    }

    nav ul li a,
    .excluir-btn {
        font-size: 15px;
        padding: 15px;
    }
}