/* NÃO RECEBEU MANUTENÇÃO! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 1s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1E71b7, #c7dbe9);
    overflow: scroll;
}

.container {
    align-self: center;
    background-color: #c7dbe9;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 20px;
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.container h2 {
    margin-bottom: 20px;
    color: #021431;
    font-size: 24px;
}

.tasks {
    text-align: center;
    margin-bottom: 20px;
}

.task {
    background-color: #E6E6FA;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.task-info {
    margin-bottom: 10px;
}

.task-name {
    font-size: 20px;
    color: #333;
}

.task-priority,
.task-status {
    font-size: 16px;
    color: #666;
}

.task-actions {
    text-align: center;
}

.task-actions button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0a66c2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-actions button:hover {
    background-color:#0e74d8;
}

.btn-adicionar {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0a66c2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-adicionar:hover {
    background-color: #0e74d8;
}

.btn-voltar {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color:  #0a66c2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color:  #0e74d8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-descricao {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #0a66c2;
    padding: 15px;
    border-radius: 10px;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #0e74d8;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.tarefa_editada {
    background-color: #ccffcc;
    color: #00cc00;
}

.flashes li.tarefa_excluida {
    background-color: #ccffcc;
    color: #00cc00;
}

@media (max-width: 480px) {
    .container {
        padding: 8%;
        max-width: 95%;
    }

    .container h2 {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 15px;
    }
}

.task-date {
    font-size: 14px;
    color: #999;
}
